@font-face {
    font-family: 'Programme';
    src: local('Programme Regular'), local('Programme-Regular'),
        url('Programme-Regular.woff2') format('woff2'),
        url('Programme-Regular.woff') format('woff'),
        url('Programme-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(0, 0, 0, 1);
    font-family: 'Programme', Arial, sans-serif;
    min-height: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.bg-header {
    background: rgb(0, 0, 0);
    padding: 30px 15px;
}

.nav {
    color: white;
    font-size: 13px;
    opacity: .7;
    text-decoration: none;
    transition: 0.2s;
}

.nav:hover {
    text-decoration: underline;
    opacity: 1;
}

.banner {
    background: rgb(255, 255, 100);
    padding: 150px;
}

.bg-promote {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 50px;
}

.bg-hiw {
    background: rgb(0, 0, 0);
    color: white;
    padding: 50px;
}

.hiw-section {
    background: rgb(20, 25, 20);
    padding: 50px;
}

.hiw-title {
    margin-bottom: 25px;
}

#send-button {
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-mg {

    background: rgb(255, 255, 100);
    padding: 20px;
}

input[type=text], input[type=url]  {
    padding: .3rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

img {
    width: 250px;
    height: 250px;
    opacity: 1;
    border-radius: 50%;
    transition: 0.3s;
}
