@font-face {
    font-family: 'Programme';
    src: local('Programme Regular'), local('Programme-Regular'),
        url('Programme-Regular.woff2') format('woff2'),
        url('Programme-Regular.woff') format('woff'),
        url('Programme-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(255, 255, 255, 1);
    font-family: 'Programme', Arial, sans-serif;
    min-height: 400px;
    margin-bottom: 100px;
    /*Evitar que el footer se coma contenido*/
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

h3,
h4,
h5,
span,
li {
    color: black;
}

.bg-header {
    position: relative;
    background: rgb(255, 255, 100);
    padding: 15px;
    z-index: 3;
}

#search-bar {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    text-align: center;
}

.search-bar {
    padding: .3rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

#contact-us-input {
    margin-bottom: 20px;
}

::placeholder {
    color: rgba(0, 0, 0, 1);
}

.genres {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

.genres:hover {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}


#artists {
    margin-left: 649px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    transition: 0.2s;
}

#artists:hover {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

#contact-us {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    transition: 0.2s;
}

#contact-us:hover {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.sub-header {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 1);
    z-index: 2;
}


.sub-header a {
    float: left;
    display: block;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
    border-left: 1px solid white;
    line-height: 5px;
    margin: 10px 0;
}

.container,
.container-player {
    text-align: center;
}

.playlistContainer {
    margin-top: 20px;
}

#reproductor {
    position: fixed;
    top: 55px;
    left: 0;
}

.container-player {
    z-index: -1;
}

#playlist {
    list-style: none;
}

.songsList {
    background-color: gray;
    padding: 2px 20px;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: 0.3s;
}

.songsList:hover {
    opacity: 1;
    background-color: rgb(255, 255, 100);
}

.songsList::selection {
    background-color: aqua;
}

.songsList h3 {
    margin-bottom: 0;
}

.songsList h4 {
    margin-top: 0;
}

#control-buttons {
    padding: 20px;
}

#volume-icons {
    display: inline-block;
}

#volume-icons img {
    margin: 0 5px;
    height: 100%;
    opacity: .8;
}

#mute-icon,
#high-volume-icon {
    display: none;
}


.btnControl {
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 100);
    height: 48px;

    :hover {
        transform: scale(1.04);
        background-color: rgb(216, 216, 87);
    }

}

.btnControl:hover {
    background-color: rgb(216, 216, 87);
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#artist {
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-image {
    border-radius: 50%;
}

.spin-img {
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.equalizer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#equalizer {
    opacity: 1;
}

.container-player {
    margin-bottom: 90px;
}

.containerSeek,
#control-buttons,
#volume-bar,
#volume-icons {
    z-index: 0;
}


/*-------------------------------------------*/

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150PX;
    background-color: transparent;

    &:focus {
        outline-color: rgb(216, 216, 87);
    }
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(216, 216, 87);
    background: -webkit-linear-gradient(left,
    #121604, #2c3715, #4a5c1e, #6c8327, #91ac2e, #a6c12f, #bbd62f, #d2ec2e, #daf127, #e3f61f, #ebfa14, #f4ff00);
    background: linear-gradient(to right,
    #121604, #2c3715, #4a5c1e, #6c8327, #91ac2e, #a6c12f, #bbd62f, #d2ec2e, #daf127, #e3f61f, #ebfa14, #f4ff00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f67280",
            endColorstr="#355c7d",
            GradientType=1);
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(216, 216, 87);
    background: -moz-linear-gradient(left,
    #121604, #2c3715, #4a5c1e, #6c8327, #91ac2e, #a6c12f, #bbd62f, #d2ec2e, #daf127, #e3f61f, #ebfa14, #f4ff00);
    background: linear-gradient(to right,
    #121604, #2c3715, #4a5c1e, #6c8327, #91ac2e, #a6c12f, #bbd62f, #d2ec2e, #daf127, #e3f61f, #ebfa14, #f4ff00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f67280",
            endColorstr="#355c7d",
            GradientType=1);
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(216, 216, 87);
    background: -moz-linear-gradient(left,
    #121604, #2c3715, #4a5c1e, #6c8327, #91ac2e, #a6c12f, #bbd62f, #d2ec2e, #daf127, #e3f61f, #ebfa14, #f4ff00);
    background: -webkit-linear-gradient(left,
    #121604, #2c3715, #4a5c1e, #6c8327, #91ac2e, #a6c12f, #bbd62f, #d2ec2e, #daf127, #e3f61f, #ebfa14, #f4ff00);
    background: linear-gradient(to right,
    #121604, #2c3715, #4a5c1e, #6c8327, #91ac2e, #a6c12f, #bbd62f, #d2ec2e, #daf127, #e3f61f, #ebfa14, #f4ff00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f67280",
            endColorstr="#355c7d",
            GradientType=1);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid rgb(216, 216, 87);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222 url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png") center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}


input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid rgb(216, 216, 87);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222 url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png") center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid rgb(216, 216, 87);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222 url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png") center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}